/* ==========================
   RESET
========================== */

*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Inter',sans-serif;
    color:#111;
    background:#fff;
    line-height:1.5;
    /*overflow-x:hidden;*/
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
}

img{
    display:block;
    max-width:100%;
    height:auto;
}

a{
    color:inherit;
    text-decoration:none;
}

button{
    font:inherit;
    border:none;
    background:none;
    cursor:pointer;

}

ul,
ol{
    list-style:none;
}

.container{
    width:100%;
    max-width:1200px;
    margin:0 auto;
    padding:0 24px;

}


/* ==========================
   HERO
========================== */

.hero {
    min-height: 100vh;
    overflow: hidden;
    background: #fff;
}

.hero .container {
    max-width: none;
    width: 100%;
    padding: 0;
}

.hero-content {
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 100vh;
}

/* FOTO */

.hero-product {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero-product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hero-product::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 220px;
    height: 100%;

    background: linear-gradient(to right,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, .95));
    pointer-events: none;
}

/* TEXTO */

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;
    background: #fff;
    margin-left:0;
    padding-left:20px;
}

.hero-rating {
    display: inline-block;
    background: #fff3e8;
    color: #ec7404;
    padding: 10px 16px;
    border-radius: 999px;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 18px;
}

.hero h1 {
    font-size: 58px;
    line-height: 1.08;
    font-weight: 800;
}

.hero h1 span {
    color: #ec7404;
}

.hero p {
    font-size: 20px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
}

.hero-benefits {
    list-style: none;
    margin-bottom: 1px;
}

.hero-benefits li {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}

.hero-stars {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
}

.rating-number {
    color: #5f6368;
    font-size: 18px;
    font-weight: 500;
}

.rating-stars {
    display: flex;
}

.star {
    font-size: 18px;
    line-height: 1;
}

.full {
    color: #fbbc04;
}

/* última estrela */

.partial {
    position: relative;
    display: inline-block;
    width: 18px;
}

.star-empty {
    color: #dadce0;
}

.star-fill {
    color: #fbbc04;

    position: absolute;
    left: 0;
    top: 0;

    width: 60%;
    /* 4.9 = 90% */
    overflow: hidden;
}

.rating-text {
    color: #5f6368;
    font-size: 16px;
}

.old-price {
    text-decoration: line-through;
    color: #999;
    font-size: 22px;
    opacity: .7;
    display: block;
}

.new-price {
    color: #111;
    font-size: 60px;
    font-weight: 800;
    line-height: 1;
}

.installments {
    color: #666;
    font-size: 18px;
    margin-bottom: 18px;
}

.btn-primary {
    width: 100%;
    max-width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ec7404;
    color: #fff;
    text-decoration: none;
    padding: 22px;
    border-radius: 14px;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 18px;
    transition: .3s;
}

.btn-primary:hover {
    background: #d76400;
    transform: translateY(-2px);
}

.hero-trust {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    color: #444;
    font-size: 15px;
    font-weight: 500;
}


/* ==========================
   REVIEWS
========================== */

.reviews {
    padding: 60px 0;
    background: #fafafa;
}

.reviews .container {
    max-width: 1400px;
}

/* HEADER */

.reviews-header {
    text-align: center;
    max-width: 850px;
    margin: 0 auto 60px;
}

.reviews-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.rating-number {
    font-size: 18px;
    font-weight: 700;
    color: #555;
}

.rating-stars {
    color: #fbbc04;
    font-size: 20px;
    letter-spacing: 2px;
}

.rating-count {
    color: #666;
    font-size: 18px;
}

.reviews-header h2 {
    font-size: 56px;
    line-height: 1.1;
    font-weight: 800;
    color: #111;
    margin-bottom: 18px;
}

.reviews-header p {
    font-size: 22px;
    color: #666;
    line-height: 1.5;
}

/* GRID */

.reviews-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* PRINTS */

.review-print {
    background: #fff;
    border-radius: 24px;
    overflow: hidden;

    box-shadow:
        0 10px 35px rgba(0, 0, 0, .08);

    transition: .3s;
}

.review-print:hover {
    transform: translateY(-6px);
}

.review-print img {
    width: 100%;
    display: block;
}

/* ==========================
   UGC
========================== */

.ugc {
    padding: 50px 0;
    background: #faf7f3;
}

.ugc .container {
    max-width: 1400px;
}

.ugc-content {
    display: grid;
    grid-template-columns: 33% 67%;
    gap: 70px;
    align-items: center;
}

/* TEXTO */

.section-tag {
    display: block;
    margin-bottom: 18px;
    color: #666;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.ugc h2 {
    font-size: 64px;
    line-height: 1;
    font-weight: 800;
    color: #111;
    margin-bottom: 24px;
}

.ugc h2 span {
    display: block;
    color: #ec7404;
}

.ugc p {
    font-size: 20px;
    line-height: 1.8;
    color: #666;
    margin-bottom: 30px;
}

.ugc-benefits {
    list-style: none;
    margin-bottom: 35px;
}

.ugc-benefits li {
    margin-bottom: 14px;
    font-size: 18px;
    color: #222;
    font-weight: 500;
}

.ugc-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #ec7404;
    color: #fff;
    text-decoration: none;
    padding: 20px 38px;
    border-radius: 14px;
    font-size: 16px;
    font-weight: 700;
    transition: .3s;
}

.ugc-btn:hover {
    background: #d76400;
    transform: translateY(-2px);
}

/* VIDEO */

.video-wrapper {
    position: relative;
    aspect-ratio: 16/9;
    border-radius: 34px;
    overflow: hidden;
    box-shadow:
        0 25px 60px rgba(0, 0, 0, .12);
}

.video-wrapper img {
    width: 100%;
    display: block;
}

/* PLAY */

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    box-shadow:
        0 10px 30px rgba(0, 0, 0, .18);
    cursor: pointer;
    transition: .3s;
}

.play-button:hover {
    transform: translate(-50%, -50%) scale(1.08);
}



/* ==========================
   PROBLEM
========================== */

.problem {
    background:
        linear-gradient(180deg,
            #161616,
            #0d0d0d);
    color: #fff;
    text-align: center;
    padding: 80px 0;
}

.problem-title {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 40px;
    margin-bottom: 75px;
}

.problem-title span {
    color: #ec7404;
}

.problem-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.problem-card {
    background: #222;
    border-radius: 14px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, .08);
}

.problem-card img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
}

.problem-card span {
    display: block;
    padding: 14px;
    font-size: 14px;
    font-weight: 600;
}

.problem-description {
    color: #d8d8d8;
    font-size: 22px;
    line-height: 1.6;
    max-width: 900px;
    margin: 30px auto 20px;
}

.problem-highlight {
    font-size: 36px;
    font-weight: 800;
    color: #ec7404;
    margin-top: 30px;
    margin-bottom: 20px;
}



/* ==========================
   SOLUTION
========================== */

.solution {
    background: #fff;
    padding: 70px 0;
    border-bottom: 1px solid #eee;
}

.solution-grid {
    display: grid;
    grid-template-columns: 42% 58%;
    gap: 50px;
    align-items: center;
    margin-top: 0;
}

.solution-tag {
    display: block;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: 700;
    color: #666;
    letter-spacing: 1px;
}

.solution h2 {
    font-size: 56px;
    line-height: 1;
    margin-bottom: 24px;
    font-weight: 800;
}

.solution h2 span {
    color: #ec7404;
}

.solution p {
    color: #666;
    line-height: 1.8;
    font-size: 20px;
    margin-bottom: 30px;
}

.solution ul {
    list-style: none;
    margin-bottom: 35px;
}

.solution li {
    margin-bottom: 14px;
    font-size: 20px;
    font-weight: 500;
}

.solution-result {
    width: 100%;
}

.result-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 24px;
    overflow: hidden;
    box-shadow:
        0 20px 50px rgba(0, 0, 0, .08);
}

.before,
.after {
    position: relative;
}

.before img,
.after img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    display: block;
}

.before::after,
.after::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,
            rgba(0, 0, 0, .45),
            transparent 45%);
}

.before span,
.after span {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    background: rgba(0, 0, 0, .65);
    padding: 10px 18px;
    border-radius: 999px;
    text-shadow:
        0 2px 8px rgba(0, 0, 0, .5);
}

.solution-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #ec7404;
    color: #fff;
    text-decoration: none;
    padding: 20px 38px;
    border-radius: 14px;
    font-weight: 700;
    font-size: 18px;
    transition: .3s;
}

.solution-btn:hover {
    background: #d76400;
    transform: translateY(-2px);
}


/* ==========================
   INGREDIENTS
========================== */

.ingredients {
    background: #fff;
    padding: 70px 0 50px;
    border-top: 1px solid #eee;
    border-bottom: 2px solid #eee;
}

.ingredients-header {
    text-align: center;
    margin-bottom: 35px;
}

.ingredients-tag {
    display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #666;
    margin-bottom: 12px;
}

.ingredients-header h2 {
    font-size: 42px;
    font-weight: 800;
    line-height: 1.2;
    color: #111;
}

.ingredients-grid {
    display: grid;
     grid-template-columns: 1fr 500px 1fr;
    justify-content: center;
    gap: 0px;
    align-items: center;
}

.ingredients-left,
.ingredients-right {
    display: flex;
    padding-top: -20px;
    justify-content: flex-start;
    flex-direction: column;
    gap: 25px;
}

.ingredient-card {
    width: 100%;
    max-width: 380px;
    background: #fff;
    border: 1px solid #f0e6dc;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    transition: .3s;
}

.ingredient-card:hover {
    transform: translateY(-4px);

    box-shadow:
        0 12px 30px rgba(0, 0, 0, .06);
}

.ingredient-text {
    flex: 1;
}

.ingredient-card h3 {
    color: #ec7404;
    font-size: 18px;
    margin-bottom: 12px;
    line-height: 1.2;
}

.ingredient-card p {
    color: #666;
    line-height: 1.6;
    font-size: 15px;
}

.ingredient-card img {
    width: 140px;
    height: auto;
    object-fit: contain;
    flex-shrink: 0;
}

.ingredients-product {
    display: flex;
    justify-content: center;
}

.ingredients-product img {
    width: 100%;
    height: auto;
    max-width: 420px;
    filter:
        drop-shadow(0 20px 30px rgba(0, 0, 0, .45));
}



/* ==========================
   BENEFITS
========================== */

.benefits {
    background: #fff;
    padding: 50px 0 90px;
    border-top: 1px solid #eee;
}

.benefits-tag {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #666;
    margin-bottom: 15px;
}

.benefits-title {
    text-align: center;
    font-size: 52px;
    font-weight: 800;
    line-height: 1.1;
    max-width: 900px;
    margin: 0 auto 20px;
}

.benefits-title span {
    color: #ec7404;
}

.benefits-subtitle {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 60px;
    color: #666;
    font-size: 18px;
    line-height: 1.8;
}

.benefits-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.benefit-card {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 24px;
    padding: 28px;
    transition: .3s;
}

.benefit-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, .08);
}

.benefit-card.featured {
    border: 2px solid #ec7404;
    background: #fffaf5;
}

.benefit-icon {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: #fff5ea;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    margin-bottom: 25px;
}

.benefit-card h3 {
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 15px;
    font-weight: 700;
    color: #111;
}

.benefit-card p {
    color: #666;
    font-size: 17px;
    line-height: 1.8;
}



/* ==========================
   BEFORE AFTER
========================== */

.before-after {
    background: #faf7f3;
    padding: 60px 0;
    border-top: 1px solid #eee;
}

.before-after-header {
    text-align: center;
    margin-bottom: 50px;
}

.before-after-header span {
    color: #ec7404;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
}

.before-after-header h2 {
    font-size: 52px;
    font-weight: 800;
    margin: 15px 0;
    line-height: 1.1;
}

.before-after-header p {
    max-width: 700px;
    margin: auto;
    color: #666;
    font-size: 18px;
    line-height: 1.8;
}

.comparison-container {
    position: relative;
    max-width: 700px;
    margin: auto;
    overflow: hidden;
    border-radius: 24px;
    box-shadow:
        0 20px 50px rgba(0, 0, 0, .15);
}

.after-image,
.before-image {
    width: 100%;
    height: 400px;
    display: block;
    object-fit: cover;
}

.before-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.slider-line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    background: #fff;
    transform: translateX(-50%);
    z-index: 2;
}

.slider-line::after {
    content: "↔";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    color: #111;
    box-shadow:
        0 10px 25px rgba(0, 0, 0, .15);
}

.comparison-slider {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: ew-resize;
    z-index: 5;
}

.label-before,
.label-after {
    position: absolute;
    top: 25px;
    padding: 10px 20px;
    background: rgba(0, 0, 0, .75);
    color: #fff;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 700;
    z-index: 3;
}

.label-before {
    left: 25px;
}

.label-after {
    right: 25px;
}

.before-after-cta {
    text-align: center;
    margin-top: 20px;
}

.before-after-btn {
    display: inline-block;
    background: #ec7404;
    color: #fff;
    text-decoration: none;
    padding: 20px 42px;
    border-radius: 14px;
    font-weight: 700;
    transition: .3s;
}

.before-after-btn:hover {
    background: #d76400;
    transform: translateY(-3px);
}

/* ==========================
   HOW TO USE
========================== */

.how-to-use {
    background: #fff;
    padding: 55px 0;
    border-top: 1px solid #ececec;
}

.how-header {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 60px;
}

.how-header span {
    display: block;
    color: #666;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.how-header h2 {
    font-size: 45px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 20px;
}

.how-subtitle {
    font-size: 22px;
    line-height: 1.8;
    color: #666;
    max-width: 600px;
    margin: auto;
}

.how-header h2 span {
    color: #ec7404;
    font-size: 45px;
}

.steps-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.step-card {
    position: relative;
    background: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 24px;
    padding: 18px;
    text-align: center;
    transition: .3s;
}

.step-card:hover {
    border-color: #ec7404;
    transform: translateY(-8px);
    box-shadow:
        0 20px 40px rgba(0, 0, 0, .08);
}

.step-number {
    position: absolute;
    top: -12px;
    left: 12px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ec7404;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 800;
    box-shadow:
        0 10px 20px rgba(236, 116, 4, .30);
    z-index: 2;
}

.step-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 18px;
    margin-bottom: 20px;
}

.step-card h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}

.step-card p {
    color: #666;
    line-height: 1.7;
    font-size: 15px;
}


/* ==========================
   OFERTA
========================== */

.offer {

    padding: 59px 0;

    background: linear-gradient(180deg,
            #ff9f43 0%,
            #ec7404 100%);

}

/* HEADER */

.offer-header {

    text-align: center;
    margin-bottom: 55px;

}

.offer-header span {

    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 16px;

}

.offer-header h2 {
    color: #fff;
    font-size: 54px;
    font-weight: 800;
    line-height: 1.08;
    margin-bottom: 14px;
}

.offer-header h2 span {
    color: #fff6c7;
}

.offer-header p {
    color: rgba(255, 255, 255, .95);
    font-size: 20px;
}


/* GRID */

.offer-grid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
}


/* CARD */

.offer-card {
    position: relative;
    width:100%;
    max-width:300px;
    min-height: 540px;
    background: #fff;
    border-radius: 24px;
    padding: 22px 28px 22px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow:
        0 18px 45px rgba(0, 0, 0, .14);
    transition: .30s;

}

.offer-card:hover {
    transform: translateY(-6px);
}

.first-card .price {
    margin-top: -47px;
}

.first-card .offer-btn {
    margin-bottom: 40px;
}


/* CARD PRINCIPAL */

.featured {
    border: 2px solid #ec7404;
    transform: translateY(-8px);
    box-shadow:
        0 22px 45px rgba(236, 116, 4, .18);
}

.featured:hover {
    transform: translateY(-14px);
}


/* BADGE */

.badge {
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    background: #ec7404;
    color: #fff;
    padding: 10px 18px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .3px;
    white-space: nowrap;
    box-shadow:
        0 8px 18px rgba(0, 0, 0, .18);

}

.badge.dark {
    background: #111;
}


/* PRODUTO */

.product-image {
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: -10px;
    margin-top: 25px;

}

.product-image img {
    position: relative;
    transform: translateY(-6px);
    z-index: 1;
    width: 210px;
    filter:
        drop-shadow(0 18px 22px rgba(0, 0, 0, .18));
    transition: .35s;
}

.offer-card:hover .product-image img {
    transform: scale(1.04);
}


/* INFO */

.offer-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.offer-info h3 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 3px;
}

.volume {
    font-size: 15px;
    color: #777;
}


/* ÁREA DOS PREÇOS */

.price-space {
    height: 46px;
    margin-top: 10px;
}

.old-price {
    color: #b8b8b8;
    text-decoration: line-through;
    font-size: 16px;
    margin-bottom: 6px;
}

.invisible {
    visibility: hidden;
}


/* ECONOMIA */

.save {
    color: #179348;
    font-size: 15px;
    font-weight: 700;
}


/* PREÇO */

.price {
    font-size: 40px;
    font-weight: 900;
    line-height: 1;
    color: #ec7404;
    margin: 12px 0 8px;
}


/* PREÇO UNITÁRIO */

.unit-price {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 8px;
    color: #111;
}

.unit-price strong {
    color: #ec7404;

}


/* PAGAMENTO */

.payment {
    font-size: 15px;
    color: #666;
    margin-bottom: 18px;
}


/* BENEFÍCIOS */

.benefits-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.benefits-list li {
    font-size: 14px;
    color: #555;
    margin-bottom: 6px;
}


/* BOTÃO */

.offer-btn {
    margin-top: auto;
    width: 100%;
    height: 52px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ec7404;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    transition: .30s;
}

.offer-btn:hover {
    background: #d86400;
}



/* ==========================
   SECURITY
========================== */

.security {
    position: relative;
    background: #fffaf6;
    padding: 50px 0;
    border-bottom: 1px solid #eee;
}

.security::before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #ec7404;
}

.security-title {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 35px;
    color: #333;
}

.security-grid {
    display: grid;
    grid-template-columns:
        repeat(5, 1fr);
    gap: 25px;
}

.security-item {
    width: 220px;
    padding: 28px 20px;
    border-radius: 20px;
    background: #fff;
    transition: .35s;
    box-shadow:
        0 8px 25px rgba(0, 0, 0, .06);
}

.security-item:hover {
    transform:translateY(-8px) scale(1.05);
    box-shadow:
        0 18px 35px rgba(0, 0, 0, .12);
}

.security-icon {
    font-size: 46px;
    margin-bottom: 12px;
}

.security-item h4 {
    font-size: 18px;
    margin-bottom: 6px;
}

.security-item p {
    color: #777;
    font-size: 14px;
}


/* ==========================
   FAQ
========================== */

.faq {
    background: #fff;
    padding: 60px 0;
}


/* HEADER */

.faq-header {
    text-align: center;
    margin-bottom: 60px;
}

.faq-header span {
    display: block;
    color: #ec7404;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.faq-header h2 {
    font-size: 48px;
    font-weight: 800;
    color: #111;
    margin-bottom: 18px;
    line-height: 1.1;
}

.faq-header p {
    font-size: 19px;
    color: #666;
    max-width: 650px;
    margin: auto;
    line-height: 1.7;
}


/* GRID */

.faq-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 70px;
}

.faq-column {
    display: flex;
    flex-direction: column;
    gap: 18px;
}


/* ITEM */

.faq-item {
    background: #fff;
    border: 1px solid #ececec;
    border-radius: 18px;
    overflow: hidden;
    transition: .30s;
    box-shadow:
        0 6px 20px rgba(0, 0, 0, .04);
}

.faq-item:hover {
    border-color: #ec7404;
    box-shadow:
        0 12px 30px rgba(236, 116, 4, .10);
}


/* BOTÃO */

.faq-question {
    width: 100%;
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 24px 26px;
    text-align: left;
}

.faq-question span {
    font-size: 18px;
    font-weight: 700;
    color: #111;
    line-height: 1.5;
}


/* ÍCONE */

.faq-icon {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #fff5ec;
    color: #ec7404;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    flex-shrink: 0;
    transition: .30s;
}

.faq-item.active .faq-icon {
    background: #ec7404;
    color: #fff;
    transform: rotate(45deg);
}


/* RESPOSTA */

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: .35s ease;
    padding: 0 26px;
    color: #666;
    font-size: 16px;
    line-height: 1.8;
}

.faq-item.active .faq-answer {
    max-height: 220px;
    padding: 0 26px 24px;
}


/* CTA */

.faq-footer {
    background:
        linear-gradient(180deg,
            #fffaf5,
            #fff4ea);
    border: 1px solid #f3e4d8;
    border-radius: 24px;
    padding: 55px;
    text-align: center;
}

.faq-footer h3 {
    font-size: 34px;
    color: #111;
    font-weight: 800;
    margin-bottom: 14px;
}

.faq-footer p {
    font-size: 18px;
    color: #666;
    line-height: 1.8;
    max-width: 620px;
    margin: 0 auto 30px;
}


/* BOTÃO */

.faq-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 0 42px;
    background: #ec7404;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 16px;
    transition: .30s;
    box-shadow:
        0 12px 25px rgba(236, 116, 4, .25);
}

.faq-btn:hover {
    background: #d76400;
    transform: translateY(-3px);
    box-shadow:
        0 16px 30px rgba(236, 116, 4, .35);

}

/* ==========================
   FINAL CTA
========================== */

.final-cta {
    background:
        linear-gradient(135deg,
            #0f0f0f,
            #1b1b1b);
    color: #fff;
    padding: 60px 0;
}

.final-cta-content {
    display: grid;
    grid-template-columns: 280px minmax(0,1fr) 340px;
    align-items: center;
    gap: 40px;
}

.final-cta-image img {
    width: 100%;
    border-radius: 18px;
    object-fit: cover;
}

.final-cta-text h2 {
    font-size: 58px;
    line-height: 1.1;
    font-weight: 700;
}

.final-cta-text span {
    color: #ec7404;
}

.final-cta-action ul {
    list-style: none;
    margin-bottom: 25px;
}

.final-cta-action li {
    margin-bottom: 12px;
    color: #f5f5f5;
}

.final-btn {
    display: block;
    text-align: center;
    background: #ec7404;
    color: #fff;
    text-decoration: none;
    padding: 18px;
    border-radius: 12px;
    font-weight: 700;
    transition: .3s;
}

.final-btn:hover {
    background: #d76400;
}

.final-info {
    margin-top: 15px;
    text-align: center;
    color: #ccc;
    font-size: 14px;
}